body {
    margin: 0;
    text-align: center;
    background-image: url("../Imagens/background.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#nk {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

.Alin {
    display: table;
    float: center;
}

.Img {
    display: table-cell;
    float: left;
}

#LogoImagem{
    height: 70px;
}

.Princ {
    display: table-cell;
    float: left;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
li:hover, h1:hover, button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: grey;
}
button:focus ~ ul {
    height: 360px;
}

nav {
    background-color: black;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
h1, a {
    color: white;
    text-decoration: none;
    font-family: Arial;
}
nav, ul {
    display: flex;
    flex-direction: row;
}
li {
    padding: 0 20px;
}

.Princ {
    display: table-cell;
    float: left;
}
@media (max-width: 1200px) {
    nav, ul {
        flex-direction: column;
    }
    ul {
        text-align: center;
        margin: 0;
        height: 0;  
    }
    nav {
        padding: 0;
        align-items: flex-start;
    }
    h1 {
       margin: 10px;
    }
    button {
        display: flex;
    }
    li, ul {
        width: 100%;
    }
    img {
        margin: 10px;
    }
}
.titulo{
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}
.subtitulo{
    color:#ffffff;
    font-size: 1.3em;
}
h2{
    width: 70%;
    background-color: #010101;
    margin: auto;
    margin-top: 5em;
    padding: 1em;
    text-align: left;
    color: #ffffff;
    font-size: 1.2em;
    border: 3px solid #2dcee0;
    border-radius: 1em;
    font-family: 'Arial';
}
.ImgCarro{
    margin-left: 20%;
    width: 60%;
}
.YT{
    text-align: center;
    color: blue;
}